<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Bus Stop Profile</title>

<link rel="stylesheet" href="/static/dashboard.css">

<script>
const stopId = {{ stop_id }};
</script>

<script src="/static/photo_links.js"></script>
</head>


<body>


<div class="panel">

<h1 id="name">
Loading stop...
</h1>


<div id="details">
Loading information...
</div>


</div>


<script src="/static/local_evidence.js"></script>
<script src="/static/stop_detail.js"></script>


</body>

</html>
